@using DataLibrary.Models
@model AccountInfo
@{
    ViewBag.Title = "Index";
}

<h1>@Html.DisplayNameFor(model => model.UserName)</h1>

@Html.ActionLink("Click Here For List Of Student","ViewStudents", "Admin")

