@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Micah Hoffmann Final Project</h1>
    <p class="lead">
        Hello! <br/><br/>
        This is Micah Hoffmann’s final project for the creating C# web applications course.  This web application was created via the .NET framework.  The application structure comprises 3 main .NET projects, a MVC project for the application frontend, a SQL project to store data, and a Data class library to control all of the data access.
        <br/><br/>
        Although adding the extra projects introduces complexity and depth, it in theory adds flexibility for implementation by allowing modules like the UI to be replaced with other options.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>